<div class="navbar navbar-expand-sm bg-dark">
    <div class="container d-flex">
        <a href="{% if user.is_authenticated %}{% url "item:home" %}{% else %}{% url "website:user_login" %}{% endif %}" class="navbar-brand text-white">
            <i class="bi bi-shop fs-2"></i>
        </a>
        


        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item d-flex">
                    <a href="{% url "cart:cart" %}" class="text-white me-3">
                        <i class="bi bi-cart4 fs-2"></i>
                    </a>
                    
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="{{ request.user.profile.image.url }}" class="rounded-circle" alt="{{ request.user.username }}" style="height: 45px; width: 45px;">
                        </button>
                        <ul class="dropdown-menu">
                            <a href="{% url "conversation:inbox" %}" class="dropdown-item">
                                <i class="bi bi-envelope"></i> Inbox
                            </a>

                            <a href="{% url "dashboard:index" %}" class="dropdown-item">
                                <i class="bi bi-bar-chart-line"></i> Dashboard
                            </a>

                            <a href="{% url "website:profile" request.user.id %}" class="dropdown-item">
                                <i class="bi bi-person-circle"></i> Profile
                            </a>
                            
                            <a href="{% url "website:user_logout" %}" class="dropdown-item">
                                <i class="bi bi-box-arrow-right"></i></i> Logout
                            </a>
                        </ul>
                      </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url "website:user_login" %}" class="btn btn-primary btn-lg">Login</a>
                </li>
            {% endif %}

        </ul>
    </div>
</div>
